{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-header-title">{{ page_title|default('Omniva') }}</h3>
    </div>
    <div class="card-body">
        <p class="text-muted">
            {{ 'This section is scaffolded and not yet implemented.'|trans({}, 'Modules.Ppomniva.Admin') }}
        </p>
    </div>
</div>
{% endblock %}
